# Database
DATABASE_URL="postgresql://neondb_owner:npg_w1CfGFxod2cz@ep-delicate-waterfall-a1s58jgt-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Optional: For connection pooling with Prisma Accelerate
# PRISMA_ACCELERATE_URL="your_accelerate_url"
